html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16pt;
    font-family: ubuntu, sans-serif;
    color: white;
    background-color: #101420;
    height: 100%;
    width: 100%;
    text-align: left;
}

p {
  max-width: 50em;
}

a {
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
}

.go-button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5em;
  padding: 0.3em 0.6em 0.3em 0.6em;
  border: 2px solid #FFFFFF;
  border-radius: 0.3em;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 1rem;
}

.go-button:hover {
  background-color: #3050A0;
}
